div{
    height: 100px;
    width: 100px;
    border: 1px solid green;
    border-radius: 50%;
    background: red;
    animation-name: an;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
@keyframes an {
    0%{
        background: red;
    }
    50%{
        background: green;
        margin-left: 150px;
        margin-top: 150px;
    }
    100%{
        background: blue;
        margin-left: 300px;
        margin-top: 0px;
    }
}